* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #F4E6D9;
    overflow-x: hidden;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*============= Scroll Bar =============*/
body::-webkit-scrollbar {
    width: 13px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #F4E6D9;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #be7d3f;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #F4E6D9;
    /* creates padding around scroll thumb */
}

/*============= Header =============*/
.header {
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.categories-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.category a {
    text-decoration: none;
    color: #000;
}

.category a:hover {
    border-bottom: 2px solid black;
}

header i {
    font-size: 1.3rem;
    color: #000;
}

/*============= Search Box =============*/
.search-cont {
    margin-top: 5px;
    width: 100%;
    display: none;
    justify-content: center;
}

.search-box {
    background-color: #FACA9D;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
}

.search-box input {
    background-color: #FACA9D;
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    border: none;
    outline: none;
}

.search-box button {
    background-color: black;
    color: #fff;
    padding: 0px 8px;
}


/*============= Menu =============*/
.menu {
    border-radius: 0 0 20px 20px;
    background-color: #FACA9D;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: flex-start;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.menu-item i {
    font-size: 1.3rem;
}

.menu-item p {
    font-size: 1.2rem;
}

.menu-item a {
    color: #000;
    text-decoration: none;
    transition: all 0.7s ease;
}

.menu-item:hover {
    background-color: #f4d1b1;
}


/*============= Slider =============*/
.slider {
    width: 100vw;
    height: 60vh;
    position: absolute;
    background-color: #000;
    margin-top: 1vh;
}

.slider img {
    width: 100%;
    height: 100%;
}

.slider-content {
    z-index: 100;
}

.slider-btns-container {
    position: absolute;
    top: 27vh;
    width: 96vw;
    display: flex;
    justify-content: space-between;
    margin: 0 2vw 0 2vw;
}

.slider-btns-container i {
    font-size: 1.3rem;
    color: #fff;
}

.slider .info-cont {
    position: absolute;
    top: 38vh;
    margin: 0 0 0 5vw;
    color: #fff;
}

.slider .info-cont h1 {
    font-size: 2.5rem;
}

.slider .sub-info-cont {
    margin-top: 2vh;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.slider .category-box {
    font-size: 0.8rem;
    background-color: #F4E6D9;
    color: black;
    padding: 3px 5px;
    border-radius: 7px;
}


/*============= Article =============*/
.article {
    width: 600px;
    height: 150px;
    margin-top: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.article .article-info-cont {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vh;
}

.article h3 a {
    text-decoration: none;
    color: #000;
}

.article .article-img-cont {
    width: 40%;
    height: 100%;
    background-color: #000;
}

.article .article-img-cont img {
    width: 100%;
    height: 100%;
}


/*============= Articles Section =============*/
.articles-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vh;
}

.article-end-line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
    margin-top: 1vh;
}


/*============= Popular Now Section =============*/
.popular-section {
    margin-top: 1vh;
    position: absolute;
    top: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 3vw;
}

.popular-section h1 {
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.popular-section .trend-svg {
    padding-left: 5px;
    width: 40px;
    height: 40px;
}