:root {
    --main-bg-color: #F4E6D9;
    --main-font-color: #000;
    --accent-color: #FACA9D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

/* fix position of bootstrap icons */
i {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*============= Scroll Bar =============*/
body::-webkit-scrollbar {
    width: 13px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--main-bg-color);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #be7d3f;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--main-bg-color);
    /* creates padding around scroll thumb */
}


/*============= Header =============*/
.header {
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;
}

.categories-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.category a {
    text-decoration: none;
    color: var(--main-font-color);
}

.category a:hover {
    border-bottom: 2px solid var(--main-font-color);
}

header i {
    font-size: 1.3rem;
    color: var(--main-font-color);
}


/*============= Search Box =============*/
.search-cont {
    margin-top: 5px;
    width: 100%;
    display: none;
    justify-content: center;
}

.search-box {
    background-color: var(--accent-color);
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
}

.search-box input {
    background-color: var(--accent-color);
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    border: none;
    outline: none;
}

.search-box button {
    background-color: var(--main-font-color);
    color: #fff;
    padding: 0px 8px;
}


/*============= Menu =============*/
.menu {
    border-radius: 0 0 20px 20px;
    background-color: var(--accent-color);
    padding: 10px;
    position: absolute;
    top: 6.5vh;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
    width: 100%;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.menu-item i {
    font-size: 1.3rem;
}

.menu-item p {
    font-size: 1.2rem;
}

.menu-item a {
    color: var(--main-font-color);
    text-decoration: none;
    transition: all 0.7s ease;
}

.menu-item:hover {
    background-color: #f4d1b1;
}


/*============= Top Slider =============*/
.top-swiper {
    width: 100%;
    height: 75vh;
}

.top-swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-swiper .img {
    width: 100%;
    height: 100%;
}

.top-swiper .article-info {
    position: absolute;
    top: 65%;
    left: 7%;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 15px;
}

.article-sub-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.article-sub-info .category {
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--main-font-color);
}

.swiper-button-prev,
.swiper-button-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--accent-color) !important;
    color: var(--accent-color) !important;
    fill: var(--accent-color) !important;
    stroke: var(--accent-color) !important;
    padding: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-horizontal {
    background-color: #cead8f !important;
}

.swiper-pagination-progressbar-fill {
    background-color: #a36830 !important;
}

/*============= Article (component) =============*/
.article {
    width: 600px;
    height: 150px;
    margin-top: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.article .article-info-cont {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vh;
}

.article h3 a {
    text-decoration: none;
    color: var(--main-font-color);
}

.article .article-img-cont {
    width: 40%;
    height: 100%;
    background-color: var(--main-font-color);
}

.article .article-img-cont img {
    width: 100%;
    height: 100%;
}


/*============= Articles Section =============*/
.articles-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    gap: 1vh;
}

.article-end-line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--main-font-color);
    margin-top: 1vh;
}


/*============= Popular Now Section =============*/
.popular-section {
    margin-top: 6vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 3vw;
    margin-right: 3vw;
}

.popular-section h1 {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.popular-section .trend-svg {
    padding-left: 5px;
    width: 40px;
    height: 40px;
}


/*============= Top Category News =============*/
.top-category-news {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.top-category-news .category-title {
    width: 50%;
}

.top-category-news .category-title h1 {
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
}

.top-category-news .category-title h3 {
    font-size: 1.1rem;
    margin-left: 10px;
    font-weight: normal;
}

.top-category-news a {
    text-decoration: none;
    color: var(--main-font-color);
}

.top-category-news a:hover {
    text-decoration: underline;
}


/*====== Category Swiper ======*/
.category-swiper {
    width: 50%;
    height: 100%;
}

.category-swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 15px;
}

.category-swiper-slide img {
    width: 40%;
    height: 100%;
}

.category-swiper-slide .article-info {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.category-swiper-slide .article-info h2 {
    font-size: 1.2rem;
}

.category-swiper-slide .article-info h4 {
    font-weight: normal;
}

.category-swiper-pagination {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0) !important;
}

.swiper-pagination-bullet-active {
    background: #010508 !important;
}

/*============= Top Categories News Section =============*/
.top-categories-news {
    width: 92vw;
    margin: 1vh 4vw
}

.end-top-categories-news-line {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--main-font-color);
}


/*============= Footer =============*/
footer {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 600px;
}

.subscribe-section {
    background-color: black;
    color: white;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.subscribe-subtext {
    margin-bottom: 30px;
}

.info-section {
    margin-top: 5vh;
    background-color: #F4E6D9;
    color: black;
    width: 100%;
    display: flex;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input {
    height: 50px;
    width: 400px;
    padding: 5px 10px;
    color: white;
    border: 1px solid var(--main-bg-color);
    font-size: 1.1rem;
}

.subscribe-button {
    background-color: #F4E6D9;
    width: 80px;
    height: 50px;
    padding: 5px;
    border: 1px solid var(--main-bg-color);
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    transition: all 0.6s ease;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: var(--accent-color);
}

.container {
    display: flex;
    width: 100%;
}

.col-1,
.col-3 {
    width: 33%;
    text-align: center;
}

.logo-text {
    font-size: 1.2em;
    line-height: 1.5;
    word-wrap: break-word;
    margin-top: 35px;
}

.copyright-text {
    position: absolute;
    bottom: 12px;
    left: 35px;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-icons a {
    margin: 0 7px;
    text-decoration: none;
    color: black;
}

footer .social-icons i {
    font-size: 1.3rem;
}


.cbtn {
    background-color: black;
    height: 30px;
    width: 80px;
    color: blanchedalmond;
    border-radius: 20%;
}

.divimg {
    width: 80%;
    height: 450px;
    position: center;
    background-color: black;
}

.divimg img {
    width: 100%;
    height: 100%;
}

footer .category-container {
    width: 50%;
    float: left;
    margin-left: 200px;
}

footer .category {
    width: 50%;
    float: left;
    margin-top: 20px;
}

footer .category a {
    font-size: 0.9rem;
}

.clear {
    clear: both;
}

.categ-text {
    margin-left: 100px;
}