{% extends '__base.html' %}
{% load static %}


{% block content %}



<div>
    <button class = "cbtn"> category</button>
<h1>{{ article.title }}</h1>
<h2 > {{ article.sub_title}}/ description </h2>
{{ article.author}}- {{ article.published_at}}
<br><br>
<div class = "divimg"> <img  src="{{ article.image_url }}" alt="{{ article.title }}"></div>

<div> <br><br>
    {{ article.content}}
 <br>article content - article content -article content -article content -article content
 <br>article content - article content -article content -article content -article content
 <br> <br> source :{{ article.provider}}
</div>
</div>

{% endblock %}