<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for article in top_news %}
        <div class="swiper-slide">
            <a href="#">
                <img src="{{ article.image_url }}" alt="{{ article.title }}">
            </a>
            <div class="article-info">
                <h1>{{ article.title }}</h1>
                <h3>{{ article.sub_title }}</h3>
                <br>
                <div class="article-sub-info">
                    <div class="category">
                        <p>{{ article.category }}</p>
                    </div>
                    <p>{{ article.author }} - {{ article.published_at }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>