<section class="slider">
    <img src="https://img.freepik.com/premium-vector/cryptocurrency-coins_73426-78.jpg?w=2000" alt="Article image">
    <div class="slider-content">
        <div class="slider-btns-container">
            <i class="bi bi-caret-left-fill prev-btn"></i>
            <i class="bi bi-caret-right-fill next-btn"></i>
        </div>
        <div class="info-cont">
            <h1>Article Title</h1>
            <h3>Sub title ipsum dolor sit amet consectetur.</h3>
            <div class="sub-info-cont">
                <div class="category-box">
                    <p>Category</p>
                </div>
                <div class="publish-info">
                    <p>Author Name - 6/1/2222</p>
                </div>
            </div>
        </div>
    </div>
</section>